body {
    font-family: Helvetica, sans-serif;
    margin-left: 150px;
}

#newGridBtn {
    margin: 20px 0px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

#grid-container {
    display: flex;
    flex-wrap: wrap;
    width: 960px;
    height: 960px;
}

.square {
    background-color: #ddd;
    border: 1px solid #000;
    box-sizing: border-box;
    transition: background-color 0.1s;
}
