body {
    text-align: center;
    justify-content: center;
    
}

#newGridBtn {
    margin: 20px 0px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid black;
}

#grid-container {
    display: flex;
    flex-wrap: wrap;
    width: 960px;
    height: 960px;
}

.square {
    background-color: #ccc;
    border: 1px solid #000;
    box-sizing: border-box;
    transition: background-color 0.1s;
}

.square:hover {
    background-color: #000;
}

.square.hovered {
    background-color: #000;
}